.trick-card {
  height: 12em;
  width: 20em;
  background-color: white;
  border-radius: 5px;
  padding: 1%;
  margin: 3%;
}

.trick-container {
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3%
}